[Interface]
Address = {{ wireguard_if_ip }}
PrivateKey = {{ wireguard_private_key }}
ListenPort = {{ wireguard_listen_port }}

{% for wgpeer in wireguard_peers %}
[Peer] # {{ wgpeer.name }}
PublicKey = {{ wgpeer.public_key }}
AllowedIPs = {{ wgpeer.ip }}
{% if 'remote' in wgpeer %}
Endpoint = {{ wgpeer.remote }}
{% endif %}
{% endfor %}
